body {
    background-color: #eee0d5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}


.principal-nav {
    margin: 0 auto;
}

.principal-nav img {
    padding-left: 50px;
    width: 160px;
    height: 100px;
}

.firstnavbar {
    background-color: #5d5249;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.firstnavbar .imgnav {
    display: flex;
    align-items: center;
    justify-content: right;
}

.firstnavbar img {
    width: 20px;
    height: 20px;
}

.navbar-collapse {
    display: flex;
    padding-left: 20px;
    align-items: center;
}

.carousel-item {
    margin-top: 20px;
}

.carousel-item img {
    width: 1000px;
    height: 500px;
}

.container-fluid {
    padding-left: 50px;
}

.bt-login {
    display: block; 
    background-color: transparent;
    color: #fff;
    border: 1px solid #5d5249;
    width: 85px;
    height: 34px;
    right: 0;
    margin-right: 50px; 
    font-family: 'Times New Roman', Times, serif;
}

.bt-login:hover {
    background-color: #5d5249;
    color: #eee0d5;
    border: 1px #eee0d5 solid;
}

.serviços {
    width: 450px;
    display: block;
    margin: auto;
    position: relative;
    padding: 12px 32px;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    color: #5d5249;
    background-color: transparent;
    border: 2px solid #5d5249;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.4s ease;
    margin-top: 50px;
    margin-bottom: 20px;

}

/* .serviços::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: #5d5249;
    z-index: 0;
    transition: width 0.4s ease;
} */

/* .serviços:hover::before {
    width: 100%;
}

.serviços span {
    position: relative;
    z-index: 0;
}

.serviços:hover{
    color: #fff;
} */

.dropdown-item {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.ft-separador {
    margin: 0 auto;
    margin-top: 50px;
}

.ft-separador img {
    width: 300px;
}

.tb-serviços {
    background-color: #5d5249;
    margin: 0 auto;
    display: flex;
}


.pedicure, .cabeleireiro, .sobrancelha {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    float: left;
    color: #fff;
}

.svtexto {
    width: 280px;
    color: #eee0d5;
    text-decoration: none;
    border: 1px solid #eee0d5;
    position: relative;
    padding: 10px 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.4s ease;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 20px;   
    
}

.svtexto::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: #eee0d5;
    z-index: 0;
    transition: width 0.4s ease;  
}

.svtexto:hover::before {
    width: 100%;
}

.svtexto a {
    position: relative;
    z-index: 2;
}

.svtexto:hover a {
    color: #5d5249;
}

.svlink:hover {
    color: #5d5249;
}

.svlink{
    color: #fff;
    text-decoration: none;
    
}

.div-footer {
    display: flex;
    justify-content: space-evenly;
}

.footer {
    margin: 20px 0 10px 50px;
}

.div-footer p {
    margin-top: 20px;
    margin-left: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
}

.div-footer img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.footer-separador img {
    width: 350px;
    transform: rotate(90deg);
    margin-top: 160px;
    margin-bottom: 160px;
}

iframe {
    margin-top: 20px;
    margin-right: 50px;
}

.copy {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    font-style: italic;
    font-size: 12px;
}