body {
    background-color: #eee0d5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

.principal-nav {
    margin: 0 auto;
}

.principal-nav img {
    padding-left: 50px;
    width: 160px;
    height: 100px;
}

.firstnavbar {
    background-color: #5d5249;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.firstnavbar .imgnav {
    display: flex;
    align-items: center;
    justify-content: right;
}

.firstnavbar img {
    width: 20px;
    height: 20px;
}

.navbar-collapse {
    display: flex;
    padding-left: 20px;
    align-items: center;
}

.container-fluid {
    padding-left: 50px;
}

.bt-login {
    display: block;
    margin: 0 auto; 
    background-color: transparent;
    color: #fff;
    border: 1px solid #5d5249;
    width: 85px;
    height: 34px;
    align-items: center;
    justify-content: right;
    font-family: 'Times New Roman', Times, serif;
}

.serviços {
    display: block;
    margin: auto;
    position: relative;
    padding: 12px 32px;
    font-size: 25px;
    font-family: sans-serif;
    color: #5d5249;
    background-color: transparent;
    border: 2px solid #5d5249;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.4s ease;
    margin-top: 50px;
    margin-bottom: 20px;

}

.serviços::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: #5d5249;
    z-index: 0;
    transition: width 0.4s ease;
}

.serviços:hover::before {
    width: 100%;
}

.serviços span {
    position: relative;
    z-index: 0;
}

.serviços:hover{
    color: #fff;
}

.dropdown-item {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.ft-separador {
    margin: 0 auto;
    margin-top: 50px;
}

.ft-separador img {
    width: 300px;
}

.tb-serviços {
    background-color: #5d5249;
    padding: 5% 3%;
}

.pedicure, .cabeleireiro, .sobrancelha{
    float: left;
    color: #fff;
    padding-left: 16%;
}




