.fundo {
    background-color: #a8998c;
}

body {
    display: flex;
    margin: 0;
    background-color: #a8998c;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 10px 0 0 0 #a8998c, -5px 0 0 0 #a8998c;
    background: #a8998c;
    padding: 3px 0;
    position: relative;
}

.login-container {
    width: 450px;
    height: 450px;
    padding: 30px;
    background-color: #5d5249;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.img-logo {
    align-items: center;
    justify-content: center;
    width: 100px;
    margin: 0 auto;
    margin-top: 5px;
}

.form-label {
    font-family: 'Times New Roman', Times, serif;
}

.form-check-label {
    font-family: 'Times New Roman', Times, serif;
}