.textoDimensoes {
    margin-right: 10%;
    margin-top: 3%;
    margin-left: 10%;
    background-color: rgb(236, 219, 197);
    padding: 5%;
    padding-bottom: 10%;
}

.tituloManicure {
    text-align: center;
    padding-bottom: 5%;
}

.div-footer {
    padding-top: 5%;
}

