.principal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.textoDimensoes {
    background-color: rgb(236, 219, 197);
    padding: 20px;
    width: 380px;
    margin-left: 50px;
    height: auto;
    margin-top: 20px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

p {
    text-align: left;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.ft-unhas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-right: 50px;
    margin-top: 20px;
}

.ft-unhas img {
    height: 200px;
    width: 200px;
    border-radius: 12px;
}

.tb-serviços {
    width: 100%;
}

.lista li {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.lista p {
    font-weight: bold;
    font-size: 22px;
}

/* Responsividade para tablets */
@media (max-width: 991px) {
    .principal {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }

    .textoDimensoes {
        width: 90%;
        margin: 20px auto 0 auto;
    }

    .ft-unhas {
        margin: 20px auto 0 auto;
        justify-content: center;
    }

    .ft-unhas img {
        width: 45%;
        height: auto;
    }
}

/*Responsividade para celulares */
@media (max-width: 576px) {
    .textoDimensoes {
        width: 100%;
        padding: 15px;
        margin-left: 0;
    }

    .ft-unhas img {
        width: 100%;
        height: auto;
    }

    .ft-unhas {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}
