.textoDimensoes {
    margin-top: 3%;
    margin-left: 1%;
    background-color: rgb(236, 219, 197);
    padding: 10px;
    width: 380px;
    height: 390px;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

p {
    text-align: left;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.ft-unhas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 1fr;
    gap: 10px; 
}

.ft-unhas img {
    display: block; 
    height: 200px;
    width: 180px;
    margin: auto 0;
}

.tb-serviços {
    width: 100%;
}

.lista li {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.lista p {
    font-weight: bold;
    font-size: 22px;
}