body {
    background-color: #eee0d5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.principal-nav {
    margin: 0 auto;
}

.principal-nav img {
    padding-left: 50px;
    width: 160px;
    height: 100px;
}

.firstnavbar {
    background-color: #5d5249;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.firstnavbar .imgnav {
    display: flex;
    align-items: center;
    justify-content: right;
}

.firstnavbar img {
    width: 20px;
    height: 20px;
}

.navbar-collapse {
    display: flex;
    padding-left: 20px;
    align-items: center;
}

.dropdown-item {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.container-fluid {
    padding-left: 50px;
}

.bt-login {
    display: block;
    background-color: transparent;
    color: #fff;
    border: 1px solid #5d5249;
    width: 85px;
    height: 34px;
    right: 0;
    margin-right: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.bt-login:hover {
    background-color: #5d5249;
    color: #eee0d5;
    border: 1px #eee0d5 solid;
}

/* .serviços {
    display: block;
    margin: auto;
    position: relative;
    padding: 12px 32px;
    font-size: 25px;
    font-family: sans-serif;
    color: #5d5249;
    background-color: transparent;
    border: 2px solid #5d5249;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.4s ease;
    margin-top: 50px;
    margin-bottom: 20px;

} */

/* .serviços::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: #5d5249;
    z-index: 0;
    transition: width 0.4s ease;
}

.serviços:hover::before {
    width: 100%;
}

.serviços span {
    position: relative;
    z-index: 0;
}

.serviços:hover{
    color: #fff;
} */

/* .dropdown-item {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
} */

.ft-separador {
    margin: 0 auto;
    margin-top: 30px;
}

.ft-separador img {
    width: 300px;
}

/* .tb-serviços {
    background-color: #5d5249;
    padding: 5% 3%;
} */
.horarios {
    width: 450px;
    padding: 12px 30px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: #5d5249;
    background-color: transparent;
    border: 2px solid #5d5249;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 40px;
}

iframe {
    margin: auto;
}

.nossaHistoria {
    border: 2px #5d5249 solid;
    padding: 10px 10px;
    width: 360px;
    margin: auto;
    display: flex;
    margin-top: 20px;
}

.nossaHistoria p {
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 22px;
    color: #5d5249;
    align-items: center;
    justify-content: center;
}

.biografiaDimensoes {
    margin-right: 10%;
    margin-top: 3%;
    margin-left: 10%;
    background-color: rgb(236, 219, 197);
    padding: 5%;
}

.conteudoLetra {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.separandoElementos {
    margin-top: 1px;
    background-color: #5d5249;
}

.ft-quemsomos {
    margin: 0 auto;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ft-quemsomos img {
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

/* .principalServicos {
    margin-right: 10%;
    margin-left: 10%;
    background-color: #5d5249;
    padding: 5%;
} */

.segunda-parte h4 {
    display: block;
    padding: 15px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #eee0d5;
}

.segunda-parte li {
    display: block;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #eee0d5;
}

.segunda-parte p {
    display: block;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #eee0d5;
}

.servicoTopicos {
    color: #eee0d5;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    margin: 5%;
}

.div-footer {
    display: flex;
    justify-content: space-evenly;
}

.footer {
    margin: 20px 0 10px 50px;
}

.div-footer p {
    margin-top: 20px;
    margin-left: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
}

.div-footer img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.servicos-footer {
    display: flex;
    width: 360px;
    padding: 12px 12px;
    margin: auto;
    margin-top: 20px;
    background-color: transparent;
    border: 2px #5d5249 solid;
    align-items: center;
    justify-content: center;
}

h5 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 24px;
    color: #5d5249;
}

.footer-separador img {
    width: 350px;
    transform: rotate(90deg);
    margin-top: 160px;
    margin-bottom: 160px;
}


.copy {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    font-style: italic;
    font-size: 12px;
}